<h1>About Us</h1>
<h2>We build Saas and Android Apps for startups.</h2>
<p>Juhomi  specializes in building Saas and Android apps.
We work with startups with just an idea as well as bootstrapped and funded companies looking to launch new features faster. 
Our engineers have deep expertise in the canonical Saas stack -  Rails, Postgres, Elastic Search, Socket.io, Redis, AWS, Docker, Vagrant, Wordpress, Play Framework and Android.</p>