body {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uppercase {
	text-transform: uppercase;
}

.white {
	color: #555555;
}

#task_content {
	margin-bottom: 10px;
}
