// FONTS

@import url(https://fonts.googleapis.com/css?family=Kavoon:400,100,500,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Kavoon|Monoton+27px);

$font-family-sans-serif: 'Kavoon', cursive;

$font-family-serif: 'Monoton', cursive;

// NAVBAR

$navbar-default-bg: #555555; 
$navbar-border-radius: 0px;
$navbar-height: 40px;
$navbar-default-color: #ffffff;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffffff;
$navbar-default-border: transparent;

// COLORS

$brand-primary: #555555;

// BORDERS

$border-radius-base: 1px;
$border-radius-small: 0px;
$border-radius-large: 2px;

// BUTTONS

$btn-font-weight: 500;